  {% extends 'accounts/master.html' %} {% block content %}
  <div class="container mt-3">
    <div class="row row-cols-1 row-cols-md-5 g-4">
      {% for m in mov %}
      <a href="{% url 'onemovies' m.id %}" class="btn">
        <div class="col">
          <div class="card shadow-lg p-3 mb-5 bg-body rounded">
            <img
              src="{{m.imageurl}}"
              class="card-img-top"
              width="300px"
              height="200px"
              alt="movieName"
            />
            <div class="card-body">
              <h5 class="card-title form-check-label" for="flexCheckDefault">
                {{m.name}}
              </h5>
              <p>{{m.created_at}}</p>

              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
          </div>
        </div>
      </a>    
      {% endfor %} 
    </div>
  </div>
  </div>
  {% endblock content %}

